Source: ubuntu-desktop-accomplishments
Section: misc
Priority: optional
Maintainer: Dani Llewellyn <diddledani@ubuntu.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Homepage: https://github.com/UbuntuAccomplishments
Vcs-Browser: https://github.com/UbuntuAccomplishments/desktop-accomplishments
Vcs-Git: https://github.com/UbuntuAccomplishments/desktop-accomplishments.git
Rules-Requires-Root: no

Package: ubuntu-desktop-accomplishments
Architecture: all
Depends: ${shlibs:Depends},
 ${misc:Depends},
 python3
Description: Accomplishments that can be used as part of the Ubuntu Desktop
 Provides accomplishments that can be used as part of the Ubuntu Desktop,
 this is used with the ubuntu-accomplishments-system
